{% extends "base.html" %}

{% block title %}Available Cars{% endblock %}

{% block page %}
{% if cars %}
    {% for car in cars %}
        <div class='row border'>
            <div class="col">
              <h5>{{ car.brand }}</h5>
              <span>{{ car.model }}</span>
              <span>{{ car.type }}</span>
              <span>{{ car.power }}</span>
              <span>{{ car.registration_number }}</span>
            </div>
            {% if login %}
            <div class="col">
                <a href="/offices/{{ rent_office_uid }}/cars/{{ car.car_uid }}/take" class="btn btn-info">Take Car</a>
                {% if admin == 'True' %}
                  <a href="/offices/{{ rent_office_uid }}/cars/{{ car.car_uid }}/delete" class="btn btn-danger">Delete</a>
                {% endif %}
            </div>
            {% endif %}
         </div>
    {% endfor %}
{% else %}
    <p>No car are available.</p>
{% endif %}
{% if admin == 'True' %}
  <a href="/offices/{{ rent_office_uid }}/cars/add" class="btn btn-primary">Add new car</a>
{% endif %}
{% endblock %}